<a href="https://colab.research.google.com/github/lennythecreator/Github-Demo/blob/main/Colab_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print Joe's World

In [1]:
print("Joe's World")

Joe's World

## Turning Dictionary into Data Frame

In [6]:
import pandas as pd

dict1  = {
    "names": ["Lenny","Josh","Jay","Jaden","Mack", "Jonny"],
    "Ages" : [23,22,21,20,45,50],
    "Cities": ["Baltimore","Baltimore","New York","New York","SF","San Diego"],
    "Hobbies": ["Drawing","Joking","Movies","Rapping","Going for LONG walks","Hanging out with the lads"]

}

Data = pd.DataFrame(dict1)
Data['Hobbies']

0                      Drawing
1                       Joking
2                       Movies
3                      Rapping
4         Going for LONG walks
5    Hanging out with the lads
Name: Hobbies, dtype: object